<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>

    <title>Memory Game</title>
</head>
<body>

    <div class= 'title-container'>
        <label class='game-title'>Memory Game</label>
    </div>

    <div class= 'home-container'>
        <div class= 'options-container'>
            <label style="margin-bottom: 15px;margin-top: 45px;font-size: 26px;letter-spacing: 3px;" >Nome</label>
            <input type='text' class='player-name' placeholder='My beautyfull name'>

            <button type='button' class='btn-send' > Entrar </button>
        </div>
    </div>

</body>
</html>