@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    color: #6dfcb6;
    font-family: 'Fjalla One', sans-serif;
    overflow: hidden;
}

.container_cards {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cards {
    height: auto;
    width: 800px;
    background: aliceblue;
    border-radius: 8px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card {
    height: 100px;
    width: 100px;
    background-color: #170166;
    border-radius: 5px;
    margin: 5px;
    display: inline-flex;
    box-shadow: 0px 2px 5px 1px #3e4843;
    justify-content: center;
    padding: 10px;
}


.card:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 850px) {

    .container_cards {
        overflow: scroll;
    }
}
